*{
    margin:0px;
    padding: 0px;
}
.main-container{
    width:100%;

}
.head-container{
    display:flex;
    border: 1px ridge rgb(179, 173, 173);
}
.stack-head{
    left:100px;
    padding:10px;
    vertical-align:middle;
    margin-left: 120px;
}
.stack-head:hover{
    background-color:rgb(247, 240, 240);
}
.stack-img{
    width:140px;
}
.product{
    color:grey;
    left: 250px;
    margin-top: 10px;
    padding: 13px ;
    vertical-align:middle;
    font-size: 13px;
}
.search-area{
    left:300px;
    margin:15px 0;
    padding-left: 20px;
    width:65%;
    vertical-align: middle;

}
.search-box{
    padding: 5px;
    width: 80%;
}
.search-area .search-icon{
    width:20px;
    top:20px;
    left:400px;
    position:absolute;
}