*{
    margin:0px;
    padding: 0px;
}
.main-container{
    width:100%;

}
body{
    overflow:scroll;
}
.head-container{
    display:flex;
    width: 100%;
    border: 1px ridge rgb(179, 173, 173);
    position:sticky;
    top: 0;
    left:0;
    z-index:999;
    background-color: white;

}
.stack-head{
    padding-top:5px;
    vertical-align:middle;
    margin: 0 18px 0px 20px;
}
.stack-head:hover{
    background-color:rgb(247, 240, 240);
}
.stack-img{
    width:152px;
}
.about-product-forteam{
    margin-top: 18px;
    vertical-align:middle;
    font-size: 15px;
}
.about-product-forteam a{
    text-decoration: none;
    padding: 6px 5px ;
    margin-right: 12px;
    color:#6A737C;

}
.about-product-forteam a:hover{
    text-decoration: none;
    background-color: hsla(30, 9%, 96%, 0.932);
    border-radius: 25%;
}
.search-area{
    margin:10px 1px;
    width:56%;
    vertical-align: middle;
}
.search-box{
    padding: 8px;
    width: 99%;
    border:1px ridge rgb(221, 219, 219);
}
.search-area .search-icon{
    width:20px;
    position:absolute;
    padding: 8px 5px;
    color: gray;
}
.nav-button{
    margin:5px 2px;
    display: flex;
}
.nav-button button{
    padding:0 14px;
    margin:3px 2px;
    border-radius: 10%;
    border:none;
}
.nav-button .login{
    background-color: hsl(194, 38%, 89%);
}
.nav-button .signup{
    background-color: rgb(142, 142, 230);
    color: white;
}
.body-container{
    display:flex;
    position:relative;

}
.v-nav-container{
    background-color: white;
    width:14%;
    top:50px;
    height: 560px;
    position: sticky;
    overflow-y: scroll;
    margin: 10px 0;
    padding: 7px 0;
}
.nav-content{ 
    margin: 10px 30px;
    padding-top:10px;
}
.public{
    margin-top:5px;
    color: gray;  
    font-size: 11px;
}
.sub-sections{
    margin:2px 6px 10px 20px;
    padding: 7px 8px;
}
.grey-link a ,.grey{
    color:grey;
    text-decoration: none;
    font-size: 14px;
}
.grey-link a:hover{
    background-color: black;
}
.collectives{
    margin: 15px 0 0 20px;
    font-size: 11px;
    color: grey;
}
.i-icon{
    padding-left: 50px;
}
.star{
    width:15px;
}
.collectives .details{
    margin-left:5px;
    margin-top: 8px;

}
.teams{
    margin-top: 16px;
    margin-left:16px;
    font-size: 12px;
}
.team-content{
    margin: 5px 0;
    border: 1px solid grey;
    padding: 5px 10px 0 20px;
}
.contents{
    font-size: 14px;
    color: black;
}
.sub-contents{
    font-size: 14px;
}
.team-img{
    margin-top: 10px;
    width:120px;
}
.create-team{
    padding: 10px 3px;
    margin:0 4px 4px 6px;
    font-size: 10px;
    background-color: #ffae00;
    color: white;
    border:none;
}
.team-content a{
    padding-left:20px;
    font-size: 14px;
    padding-bottom: 20px;
}
.users{
    border-right: 2px solid #ffae00;
    background-color: rgba(248, 246, 246, 0.932);
}
.detail-div{
    position:relative;
    width: 80%;
    z-index:unset;
 
}
.author-profile{
    display:flex;
}
.profile-img{
    margin:18px 5px 5px 18px;
}
.profile-img img{
    width:128px;
    border: 1px ridge rgb(224, 224, 224);
}
.profile-details{
    margin: 30px 10px;
}
.name{
    font-size: 37px;
    font-weight: lighter;
}
.join-details{
    margin-top: 10px;
}
.profile-activity{
    margin: 5px 20px ;
}
.profile-activity button{
    border:none;
    padding:8px 16px;
    border-radius: 20px;
}
.profile{
    color:aliceblue;
    background-color: hsl(41, 100%, 50%);
}
.profile:hover{
    background-color: azure;
}
.activity{
    background-color: white;
}
.activity:hover{
    background-color: rgb(184, 167, 167);
}
.stat-about ,.side{
    display:flex;
}
.stat ,.about{
    margin:20px 0 0 12px;
    
}
.stat span , .about span{
    font-size: 22px;
}
.stat-details{
    padding:10px;
    display: flex;
}
.inline-condent{
    padding-right: 50px;
}
.stat-container{
    border:1px ridge rgb(233, 229, 229);
    margin: 10px 30px 0 0;
}
.stat-container img{
    width:30px;
    margin:7px 5px 10px 7px;
}
.cloud{
    font-size: 16px;
    text-decoration: none;
    color: black;
    padding: 40px 0 0 10px;
    margin-top: 20px;
}
.divcloud{
    margin: 10px 0;
}
.cloud-details{
    padding:10px;
}
.about-section1{
    margin-top: 10px;
    font-size: 17px;
    font-weight: 100;
    color: rgb(75, 73, 73);
}
.about-section2{
    width:55%;
    font-size:17px;
    word-spacing: 5px;
    margin-bottom: 10px;
    color:  rgb(75, 73, 73);
}
.about-sites{
    margin:14px 0;
    font-size: 20px;
}
.about-list{
    padding-left: 14px;
    line-height: 1.6;
}
.blue-link{
    color:blue;
}
.email-to{
   padding-top: 10px;
   font-size: 18px;
}
.communities-badges{
    font-size: 20px;
    display: flex;
}
.communities{
    width: 30%;
}
.communities-details{
    border: 1px ridge rgb(192, 189, 189);
    margin: 10px 30px;
}
.communities .view-all{
    font-size: 12px;
    padding-left: 50px;
}
.followers{
    display:flex;
    font-size: 16px;
    margin:1px;
}
.followers .sites{
    width:90%;
}
.site-img{
    width:20px;
}
.right{
    float: right;
}
.community-head{
    font-size: 25px;
    margin-left: 26px;
}
.badges{
    border: 1px ridge rgb(211, 207, 207);
    margin: 10px 0 2px 0;
    width: 90%;
}
.gold-star{
    width: 50px;
    margin:10px;
}
.gold-no{
    font-size: 20px;
    margin-top:10px;
}
.gold-badge{
    font-size: 10px;
}
.badge-details{
    display:flex;
    margin: 5px 0;

}
.event{
    vertical-align: top;
    align-content: space-around;
    padding-bottom: 4px;
    border: none;
}
.gold-details{
    width: 20px;
}
.silver-details{
    width: 17px;
}
.coper-details{
    width: 15px;
}
.event-button{
    width:70%;

}
.date{
    font-size: 12px;
}
.top-tags ,.top-post ,.top-meta{
    float:right;
    width:70%;
}
.top-tag-head ,.top-post-head ,.top-meta-head{
    font-size: 20px;
    margin-bottom: 30px;
}
.top-tag-details , .top-post-details, .top-meta-details{
    display: flex;
    border-bottom: 1px solid rgb(209, 205, 205);
    vertical-align: middle;
    margin: 20px 0;
    padding:5px;
}
.top-tag-outline , .top-post-outline, .top-meta-outline{
    border: 1px solid rgb(207, 206, 206);
    margin: 30px 0;
}

.section1 .blue-btn{
    padding:2px 5px;
    border: none;
    background-color: rgb(158, 158, 252);
}
.yellow-dot{
    width:10px;
    margin-left: 10px;
}
.top-tags .view-all{
    float: right;
}
.top-post-nav{
    display: flex;
}
.top-post-links a{
    text-decoration: none;
}
.nav-top-post{
    float:right;
    display: flex;
    padding-left: 180px;
}
.nav-top-post div{
    border:1px ridge grey;
    vertical-align: baseline;
    padding: 2px;
}
.space{
    margin-right: 5px;
}
.all-score{
    background-color: hsl(0, 2%, 70%);
}
.green-icon{
    width:15px;
}
.section1 .green-btn{
    background-color: green;
    color: white;
    padding: 3px;
    border:none;
}
.top-tag-details .section1 {
    width: 65%;
}

.top-post-details .section1,.top-meta-details .section1{
    width:90%;
}
.svg-icong{
    fill:green;
}
.top-post-details .section1 a , .top-meta-details .section1 a{
    text-decoration: none;
    color: blue;
}
.q-a{
    float:right;
    display: flex;
}
.q-btn,.a-btn{
    border: none;
}
.stack-black-meta{
    width:20px;
}
.blue-chat{
    width: 20px;
}
.footer{
    width:95%;
    background-color:#6A737C;
    color:rgb(255, 255, 255);
    display: flex;
    bottom: 0;
    padding:30px;
}
.footer-img{
    width:20px;
    margin-right: 20px;
}
.footer-header{
    font-size: 16px;
    width: max-content;
    padding-right: 40px;
}
.footer-body{
    padding-top:10px;
    padding-right: 20px;
    font-size: 14px;
}
.footer-extra{
    margin-left: 200px;
    word-spacing: 10px;
    font-size: 10px;
}
.ower-details{
    margin-top:180px;
    margin-bottom: 30px;
}
.profile-btn{
    float: right;
    padding-top: 10px;
}
.profile-btn button{
    padding:8px;
    background-color: white;
    border:1px ridge rgb(189, 184, 184);
    color:#a0a1a3;

}